# For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.ilk
*.obj
*.pch
*.log
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
*.qdact
bin
obj
Debug
Release

# For Mac
.DS_Store



