<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KGySoft.CoreLibraries" version="7.1.0" targetFramework="net481" />
  <package id="KGySoft.Drawing" version="7.2.0" targetFramework="net481" />
  <package id="KGySoft.Drawing.Core" version="7.2.0" targetFramework="net481" />
</packages>